---
layout: layout.njk
title: "Recetas y Pico | Recetas caseras"
description: "Recetas caseras y saludables de toda la vida"
permalink: "/resultados.html"
---
   <!-- MAIN-->
    <main class="main-content-buscador">
        <section class="resultados">
            <h2 id="titulo-busqueda">Resultados para: ...</h2>
            <div class="hr-wrapper">
                <hr>
                <p id="num-resultados"></p>
            </div>
            <div class="recipes-container-buscador" id="resultados">
                <!-- Aquí el JS se insertará -->
            </div>
        </section>
    </main>
    <script src="{{ '/scripts/buscador.js' | url }}" defer></script>
